<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
</head>
<body>
    <section id="add">
        <h1>Edit Book</h1>
        <p class="sub">Update the book details below</p>
        <div>
            <form th:object="${book}" th:action="@{/save}" method="post">
                <input type="hidden" th:field="*{id}" />
                
                <label for="title">Title</label>
                <input class="input" type="text" id="title" th:field="*{title}" />
                <div style="clear: both; display: block; height: 10px;"></div>
            
                <label for="author">Author</label>
                <input class="input" type="text" id="author" th:field="*{author}" />
                <div style="clear: both; display: block; height: 10px;"></div>
            
                <label for="isbn">ISBN</label>
                <input class="input" type="text" id="isbn" th:field="*{isbn}" />
                <div style="clear: both; display: block; height: 10px;"></div>
            
                <label for="year">Year</label>
                <input class="input" type="number" id="year" th:field="*{publicationYear}" />
                <div style="clear: both; display: block; height: 10px;"></div>
            
                <label for="price">Price</label>
                <input class="input" type="number" id="price" th:field="*{bookprice}" />
                <div style="clear: both; display: block; height: 10px;"></div>

                <div style="clear: both; display: block; height: 10px;"></div>						
                <label for="deplist">Category</label>
                <select id="deplist" th:field="*{category}" class="form-control">
                    <option th:each="category: ${category}" th:value="${category.categoryid}" th:text="${category.category}"></option>
                </select>
            
                <input class="input" type="submit" value="Save" />
            </form>
        </div>
    </section>
</body>
</html>